*{
     margin: 0;
      padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
       background-color: antiquewhite;
       color: black;
}
nav{
height: 90px;
width: 100%;
background-color:antiquewhite;
padding: 20px;
display: flex;
justify-content: space-between;
align-items: center;

}
nav ul{
height: 100%;
}
nav ul:nth-child(2){
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul img{
    height: 100%;
}
nav ul{

    padding-right: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
nav ul li:hover{
     cursor: pointer;
}

/* From Uiverse.io by alexroumi */ 
button {
 padding: 15px 25px;
 border: unset;
 border-radius: 15px;
 color:#212121;
 z-index: 1;
 background: #e8e8e8;
 position: relative;
 font-weight: 800;
 font-size: 15px;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms;
 overflow: hidden;
}

button::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0;
 border-radius: 10px;
 background-color: #212121;
 z-index: -1;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms
}

button:hover {
 color: #e8e8e8;
}

button:hover::before {
 width: 100%;
}
ul li{
    font-size:17px;
    font-weight: bold;
}

.swiper {
      width: 100%;
      height: 50%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background:antiquewhite;
      display: flex !important;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      
    }

    .swiper-slide img {
      object-fit: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70vh;
    }
    .categories{
      height: 50vh;
      width: 100%;
      background-color:antiquewhite;
      padding: 20px;  
      text-align: center;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    #head1{
      text-align: center;
      margin-top: 30px;
    }

     nav li:hover{
      padding: 8px;
      border: 1px dashed black;
      border-radius: 5px;
    }
      .cat{
        height: 50%;
        width: 15%;
  /*      background-color: black;*/
        border-radius: 10px 10px 10px 10px;
      background-size: 90%;
      background-position: center;
      border: 1px dashed black;
    }
.cat img{
     height:70%;
     width:160px;
}
    .products{
      height: 100vh;
      width: 99vw;
      display: flex;
      text-align: center;
      justify-content: space-between;
      flex-direction: column;
      background-color: antiquewhite; 
    }
    .product{ 
      display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    }
    .product-cards{
          height: 250px;
          width: 200px;
          margin: 10px;
          border: 1px dashed black;
          background-color: antiquewhite;   
          border-radius: 10px;     
        }
      .product-cards button{
         
            height: 30px;
            width: 35%;
            border-radius: 10px;
          text-transform: lowercase;
          
          
      }
      .product-cards img{
            height: 60%;
            border-radius: 10px;
        
      }
        
        
.about-section {
  display: flex;
  height: 80vh;
  margin-top: 30px;
  box-sizing: border-box;
}

.about-content {
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.about-content h2 {
  font-size: 2rem;
  color: #d62828;
  margin-bottom: 1rem;
}

.about-content p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color:black;
}

.about-content ul {
  padding-left: 1.2rem;
  color: black;
}

.about-content li {
  margin-bottom: 0.6rem;
  display: flex;
  align-items: start;

}

.about-image {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-image img {
  max-height: 85%;
  max-width: 100%;
  object-fit: contain;
}
footer{
  height: 200px;
  width: 100%;
  background-color:antiquewhite;
  display: flex;
  align-items: star;
  justify-content: space-between;
  border: 1px dashed black;
}
footer ul img{
  height: 60px;
  width: 150px;
}
footer ul:nth-child(1){
  height: 100%;
  width: 25%;
  padding: 30px;
}
footer ul{
  height: 50%;
  width: 25%;
  padding-top: 40px;
  display: flex;
  flex-direction:column;
  justify-content: space-evenly;
}
footer a{
  color: royalblue;
}
footer a:hover{
  scroll-behavior: smooth;
  text-decoration: underline;
}






      


    

    
    
    
  
